.caracteristicas {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  width: 20rem;
  height: 26rem;
  overflow: hidden;
  border-top-left-radius: 9rem;
}

.img img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.ul {
  margin-left: -3rem;
}

.ul li {
  padding: 1.2rem 2rem;
  border-radius: 4rem;
  list-style: none;
}

.ul li p {
  max-width: 20rem;
  text-align: right;
}

.ul li + li {
  margin-top: 1rem;
}

.ul li:nth-of-type(1) {
  background: var(--cor-4);
  color: var(--text-1);
  box-shadow: 2px 2px 0 0 var(--sombra-1);
}
.ul li:nth-of-type(2) {
  color: var(--text-2);
  background: var(--cor-3);
  box-shadow: 2px 2px 0 0 var(--sombra-3);

}
.ul li:nth-of-type(3) {
  background: var(--cor-2);
  color: var(--text-3);
  box-shadow: 2px 2px 0 0 var(--sombra-2);
}