.entrada {
  min-height: calc(100vh - 6rem);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 60rem;
  width: 100%;
  padding: 2rem 0.7rem;
}

.entrada > * {
  border:1px solid red
}

.img {
  width: 50%;
  height: 30rem;
  border-top-right-radius: 9rem;
  overflow: hidden;
  margin-left: 3rem;
}

.img img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.endereco {
  position: absolute;
  left:0;
  top:0;
  opacity: 0.7;
}

.endereco span {
  display: block;
}
.titulo {
  font-size: 3rem;
  font-weight: 400;
  text-align: left;
}

.textos {
  max-width: 20rem;
}