@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background: #FAFAF7;
  --cor-1: #FAFAF7;
  --cor-2: #e2f3fa;
  --cor-3: #fafad1;
  --cor-4: #f4e1f8;
  --cor-5: #202325;
  --text-1: #583f5c;
  --text-2: #35584e;
  --text-3: #696541;
  font-family: 'Quicksand', sans-serif;
  font-size: 0.9rem;
  color: var(--cor-5);
  background-color: #fafaf7;
  background-attachment: fixed;
  background-image: url('./assets/bg.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

a,
button {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  text-decoration: none;
  display: inline-block;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.btnPreto {
  background: radial-gradient(70% 100% at 50% 0%, #4A4F4D 0%, var(--cor-5) 100%);
  color: var(--cor-1);
  padding: 0.7rem 1.2rem;
  border-radius: .2rem;
  transition: .2s;
}

.btnPreto:hover {
  background: radial-gradient(70% 100% at 50% 0%, #5d6361 0%, #383e41 100%);
  box-shadow: 0 0 0 3px #e0a8e9b3;
}

.container {
  margin: 0 auto;
  max-width: 55rem;
  width: 100%;
  padding: 5rem 0.7rem;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background: #FAFAF7;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background: #202325;
  border: 3px solid #fafaf7
}

::-webkit-scrollbar-thumb:hover {
  background: #2f3336;
}

@media all and (max-width: 400px) {
  .btnPreto {
    padding: 0.6rem 0.7rem;
    font-size: 0.8rem;
  }
}